{% extends 'accounts/base.html' %} {% block content %}

<h1 class="text-center">items page</h1>
<div class="row">
  <form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Add Item" class="btn btn-primary">
  </form>
</div>
<div class="row">

  <div class="col-md">
    <div class="card card-body">
      <h5>Products</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <thead>
          <th>Product</th>
          <!-- <th>Color</th> -->
          <th>Qty</th>
          <th>Date</th>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{item.item_no}}</td>
            <!-- <td>{{item.color}}</td> -->
            <td>{{item.quantity}}</td>
            <td>{{item.date_created}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
